* text=auto eol=lf encoding=utf-8 whitespace=tab-in-indent

.git*                 export-ignore
.bumpversion.cfg      export-ignore
.cmake-format.json    export-ignore
.ecrc                 export-ignore
.editorconfig         export-ignore
.markdownlint.json    export-ignore
.nitpick.toml         export-ignore
.pre-commit-config    export-ignore
.style.yapf           export-ignore
.tool-versions        export-ignore
Makefile              export-ignore
package.json          export-ignore
renovate.json         export-ignore

*.png binary
*.jpg binary
